body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.scene {
    display: none;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

input {
    width: 200px;
}

p {
    text-align: left;
}
