body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 0 auto;
    max-width: 500px;
}

.scene {
    display: none;
}

.choice {
    display: block;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

input {
    width: 200px;
}

p {
    text-align: left;
}
